body {
  font-family: "PTSansNarrow", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  background-color: black;
}

.container {
  padding: 0;
  width: 940px;
  margin: 0 auto;
}

.index__header {
  padding: 0;
  width: 960px;
  height: 70px;
  margin: 0 auto;
}

.index-nav {
  padding: 27px 0 0 0;
}
.menu{
  padding: 0;
  margin: 0;
  display: block;
}
.menu__item{
  float: left;
  display: block;
  vertical-align: middle;
}

.menu__link {
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding: 25px 20px;
}

.menu__link:hover {
  background-color: #242424;
}

.login__button {
  padding-left: 40px;
}

.menu__item--login {
  float:right;
  position: relative;
}

.menu__item--login::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../img/index_login.png") no-repeat;
  position: absolute;
  left: 14px;
  top: 2px;
}

.bg-section {
  display: block;
  height: 1490px;
  background: url("../img/index_bg.jpeg") no-repeat center top;
  background-size: auto;
}

.advantages {
  text-align: center;
}

.advantages__logo {
  margin: 0 auto;
  padding: 60px 0 80px 0;
  width: 371px;
  height: 155px;
  background: url("../img/index-logo.png") no-repeat center;
}

.advantages__item {
  box-sizing: border-box;
  display: inline-block;
  width: 300px;
  color: white;
  vertical-align: top;
}

.advantages__title{
  margin: 0;
  font-size: 30px;
  padding-bottom: 50px;
  background: url("../img/index__shape.png") no-repeat;
  background-position: center 50px;
}

.advantages__text {
  line-height: 1.75;
  padding: 20px 10px 0 10px;
  font-size: 14px;
  margin: 0;
}

.news-photo {
  display: block;
  margin-top: 70px;
  width: 940px;
  height: 420px;
  background: url("../img/separator.png") no-repeat center,
  url("../img/s-sector.jpeg");
}

.news-photo__news {
  padding: 55px 40px 0 80px;
  float: left;
}

.news-photo__title {
  margin: 0;
  padding-bottom: 25px;
  font-size: 30px;
}

.news-photo__text {
  margin: 0;
  width: 350px;
  font-size: 14px;
  line-height: 1.75;
}

.news-photo__date {
  margin: 0;
  padding: 5px 0 24px;
  font-size: 14px;
  text-transform: lowercase;
}

.news-photo__date:nth-child(2) {
  padding-bottom: 0px;
}

.news-photo__photo {
  float: right;
  padding:55px 80px 0 72px;
}

.news-photo__img {
  display: block;
  box-sizing: border-box;
  width: 300px;
  border: 7px solid #fff;
  margin-bottom: 38px;
}

.button--standard {
  display: inline-block;
  width: 140px;
  line-height: 42px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: black;
}

.news-photo__news__buttons {
  padding-top: 7px;
}

.news-photo__photo__buttons {
  font-size: 0;
}

.contacts-visit__buttons {
  padding-top: 28px;
  font-size: 0;
}

.button--standard:nth-child(odd) {
  margin-right: 20px;
}

.contacts-visit {
  display: block;
  margin-top: 35px;
  width: 940px;
  background: url("../img/separator2.png") no-repeat center,
  url("../img/sector3.png");
}

.contacts-visit__contacts {
  padding: 55px 57px 0 80px;
  float: left;
}

.contacts-visit__title{
  margin: 0;
  padding-bottom: 10px;
}

.contacts-visit__text {
  margin: 0;
  line-height: 1.75;
}

.contacts-visit__button {
  display: inline-block;
  width: 140px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: black;
  margin: 10px 20px 0 0;
}

.contacts-visit__visit {
  display: block;
  padding: 55px 80px 38px 89px;
  width: 300px;
  float: right;
}

.contact-visit__form {
  font-size: 0;
}

.form__input {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "PTSansNarrow", sans-serif;
  font-weight: bold;
  padding-left: 15px;
  color: #706f6d;
  width: 140px;
  line-height: 36px;
  border: 2px solid black;
  background: none;
}

.form__name,
.form__date {
  margin-right: 20px;
}

.form__text-block {
  display: table;
  width: 300px;
  padding: 15px 0;
}

.form__text {
  display: table-cell;
  font-size: 16px;
  padding-left: 20px;
  width: 150px;
}

.form__button {
  margin-top: 20px;
  padding: 0;
  width: 300px;
  height: 42px;
  font-family: "PTSansNarrow", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  background-color: black;
  border: none;
  cursor: pointer;
}

.footer {
  padding-top: 60px;
  height: 130px;
  width: auto;
  line-height: 8px;
  background: url("../img/footer_bg.jpeg");
  color: #fff;
}

.footer__contacts {
  display: inline-block;
  width: 400px;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #a6a6a6;
}

.footer__share {
  display: inline-block;
  width: 140px;
  vertical-align: top;
  text-align: center;
}
.footer__dev {
  display: inline-block;
  width: 140px;
  float: right;
  text-align: center;
}

.footer__share__box {
  width: 140px;
  font-size: 0;
}

.footer__share-vk {
  background: url("../img/vk.png") no-repeat;
  background-position: 50% 50%;
}

.footer__share-fb {
  background: url("../img/facebook.png") no-repeat;
  background-position: 50% 50%;
}

.footer__share-inst {
  background: url("../img/instagram.png") no-repeat;
  background-position: 50% 50%;
}

.soc-button {
  display: inline-block;
  float: left;
  width: 42px;
  height: 42px;
  margin-right: 5px;
  background-color: black;
}

.button--standard:hover,
.form__button:hover,
.soc-button:hover {
  background-color: #663d15;
}

.form__input:hover {
  border-color: #663d15;
}

.soc-button:nth-child(3) {
  margin-right: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
